[Unit]
Description=ESpeak-NG Server
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/workspaces/prod/espeak-ng
ExecStartPre=/usr/bin/docker login -u adiaisberg -p dckr_pat_jCgKXrBg-mhaaaKUv_F8mi8nC1M && /usr/bin/docker pull adiaisberg/espeak-ng-server
ExecStart=/usr/bin/docker compose -f docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.yaml down

[Install]
WantedBy=multi-user.target
